html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  height: 100%;
}

body {
  font-size: 10vw; /* adjust this value to make the text bigger or smaller */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes flashing {
  0% {
    color: red;
  }
  50% {
    color: black;
  }
  100% {
    color: red;
  }
}

.timer {
  color: whitesmoke;
}

.calibrator {
  color: red;
  animation: flashing 0.5s infinite;
}

* {
  box-sizing: border-box;
}